@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid gray;
    background-color: #fafafa;
}

.visibility_hiden {
    visibility: hidden;
}

.login_input {
    margin-top: 20px;
    width: 400px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.login_button {
    width: 300px;
    height: 40px;
    border: 1px solid #000000;
    background-color: #fff;
    cursor: pointer;
}

body {
    font-family: 'Science Gothic', sans-serif;
}

.chat-box {
    min-width: 350px;
    width: 80%;
    height: 600px;
    border: 2px solid #000000;
    display: flex;
    align-content: stretch;
}

.chat-message {
    width: 85%;
    height: 600px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.persons {
    min-width: 100px;
    width: 15%;
    border-right: 1px solid #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat_input {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 30px;
}

.messages {
    width: 100%;
    flex: 1;                     
    overflow-y: auto;           
    padding: 10px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.message {
    width: 50%;
    align-self: flex-start;
}

.person {
    margin-left: 5px;
}

.you {
    margin-left: auto;
    color: orange;
    font-weight: bold;
    align-self: flex-end;
}